<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Band Members</title>
    <script defer src="https://unpkg.com/vue@next"></script>
    <script defer src="scripts.js"></script>
</head>

<body>

    <main id="app">
        <!-- Projet sur l'ajout de membres dans la liste des musiciens -->
        <h1>
            Band Members
        </h1>

        <!-- Table des données des artistes -->
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Instrument</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="member in members">
                    <td>{{member.fname}}</td>
                    <td>{{member.lname}}</td>
                    <td>{{member.instrument}}</td>
                </tr>
            </tbody>
        </table>

        <section class="add-more">
            <p>Add more band members</p>
            <!-- Formulaire de création des membres avec utilisateurs et liaisons de données bi-directionnelles -->
            <form>

                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname" v-model="newMember.fname"><br>

                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" v-model="newMember.lname"><br>

                <label for="instrument">Instrument:</label><br>
                <select name="instrument" id="instrument" v-model="newMember.instrument">
                    <option value="Bass">Bass</option>
                    <option value="Electric Guitar">Electric Guitar</option>
                    <option value="Acoustic Guitar">Acoustic Guitar</option>
                    <option value="Drums">Drums</option>
                </select>
                <br><br>
                <input type="button" value="Add" @click="addMember()">
                <!-- v-model will ignore the initial value, checked or selected attributes found on any form elements -->
            </form>
        </section>

    </main>
</body>

</html>